.chat-summary-box{
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    font-family: Gesta W01 Regular;
  .chat-summary-heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    .summary-text{
        margin-left:20px;
        font-size: 20px;
          font-weight: 700;
    }
    .summary-icon{
        width:42px;
        height: 42px;
    }
  }
  .chat-summary-wrapper{
    font-size: 16px;
      line-height: 20px;
      font-weight: 400;
    color: #575756;
    height: 200px;
    overflow: scroll;
    .summary-line-text {
        margin: 10px 0px;
    }
}

}